# Les boucles

## Exercice 1

In [3]:
table_1 = [1 * i for i in range (1,11)]
table_2 = [2 * i for i in range (1,11)]
table_3 = [3 * i for i in range (1,11)]
table_5 = [5 * i for i in range (1,11)]
table_8 = [8 * i for i in range (1,11)]

print("La table de multiplication de 1 est :", table_1)
print("La table de multiplication de 2 est :", table_2)
print("La table de multiplication de 3 est :", table_3)
print("La table de multiplication de 5 est :", table_5)
print("La table de multiplication de 8 est :", table_8)

La table de multiplication de 1 est : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
liste = [1, 2, 3 ,5, 8]

def myfunc(a):
  return [a * i for i in range(11)]

list(map(myfunc, liste))

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]

## Exercice 2

In [12]:
number = [1,2,3,4,5,6,7,8,9,10]
number_list = []
for nbr_str in number:
    result = str(int(nbr_str) * 5)
    number_list.append(result)
print("Resultat de la table:", number_list)

Resultat de la table: ['5', '10', '15', '20', '25', '30', '35', '40', '45', '50']

## Exercice 3

In [21]:
max = 10
i = 0
table_cinq = []
while True:
    print(f"5 x {str(i)} = {str(5 * i)}")
    i += 1
    if i > max:
        break

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Exercice 4

In [19]:
objet = {"a": 42, "b": 42, "c": 42, "d": 42}
accumulateur = 1
for key, value in objet.items():
    if key != "d":
        accumulateur *= value
    else:
        accumulateur -= value

print(accumulateur)

74046

## Exercice 5

In [17]:
print(' '.join(list(map(lambda x :x * "x" , range(1,6)))))

x xx xxx xxxx xxxxx

## Exercice 6

In [18]:
def tri_bulles(nbr):
    n = len(nbr)
    for i in range(n - 1):
        for j in range(0, n - i - 1):
            if nbr[j] > nbr[j + 1]:
                nbr[j], nbr[j + 1] = nbr[j + 1], nbr[j]

nbr = [5, 4, 3, 2, 1]
tri_bulles(nbr)
print(nbr)

[1, 2, 3, 4, 5]

# Les fonctions

## Exo 1

In [23]:
def myPutStr(value):
    if isinstance(value, (int, float)):
        return "et pourquoi pas 42 ?"
    else:
        return str(value)

In [25]:
print(myPutStr(5))  
print(myPutStr("Bonjour"))

et pourquoi pas 42 ?
Bonjour

## Exo 2

In [35]:
def computeSurfaceM2(longueur, largeur):
    surface = longueur * largeur
    return f"Votre surface est de {surface} m2"

In [36]:
longueur = 10
largeur = 20
print(computeSurfaceM2(longueur, largeur))

Votre surface est de 200 m2

## Exo 3

In [27]:
def detectMyAgeByNight():
    age = int(input("Veuillez entrer votre âge : "))
    if age >= 18:
        print(f"Vous pouvez entrer vous êtes majeur, vous avez {age} ans.")
    else:
        print(f"Vous ne pouvez pas entrer, vous n’êtes pas majeur, vous avez {age} ans.")

In [29]:
detectMyAgeByNight()

Veuillez entrer votre âge : 19
Vous pouvez entrer vous êtes majeur, vous avez 19 ans.

In [30]:
detectMyAgeByNight()

Veuillez entrer votre âge : 12
Vous ne pouvez pas entrer, vous n’êtes pas majeur, vous avez 12 ans.

## Exo 4

In [ ]:
def tableGenerator():

## Exo 5

In [37]:
import time

def digitalClock():
    try:
        while True:
            current_time = time.strftime('%H:%M:%S')
            print(current_time, end='\r')  
            time.sleep(1)
    except KeyboardInterrupt:
        print("\nHorloge arrêtée.")

## Exo 6

In [41]:
def is_palindrome(chaine): # Un palindrome
    chaine_nettoye = ''.join(chaine.split()).lower()
    return chaine_nettoye == chaine_nettoye[::-1]

print(is_palindrome("Bonjour je m'appelle Lysa"))

False

## Exo 7

## Exo 8

## Exo 9